* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  padding: 20px;
  font-family: Playfair;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 60px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 33.00%;
  display: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(208, 157, 155);
}

.btn.active {
  background-color: rgb(208, 157, 155);
   color: white;
}

.archive-image{
  grid-template-columns: 1 / 2;
  grid-template-rows: 1 / 2;
}