
.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}

.slider .list .item {
    position: relative;
    inset: 0 0 0 0;
    overflow: hidden; 
}

.slider .list .item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item :after{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linearGradient (
        to top, #000 40%, transparent
    );
}

.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button{
    background-color: rgba(162, 98, 98, 0.333);
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button:hover{
    background-color: #eee;
    color: rgba(162, 98, 98, 0.333);   
}

.thumbnail{
    position: relative;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
}

.thumbnail::-webkit-scrollbar{
    width: 0;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active{
    filter: brightness(1.5);
}